.tabs {
  color: #171f46;
  list-style-type: none;
  display: flex;
}
.tab-item {
  border: 1px solid #d7dfe9;
  padding: 10px;
  width: 170px;
  text-align: center;
  background-color: rgba(215, 223, 233, 0.24);
}
.tabs-container {
  display: flex;
  justify-content: center;
}
