.tab-item {
  border: 1px solid #d7dfe9;
  padding: 10px;
  width: 170px;
  text-align: center;
  background-color: rgba(215, 223, 233, 0.24);
}
.active {
  color: #ffffff;
  background-color: #0b69ff;
}
.inActive {
  color: #171f46;
}
