.container {
  padding: 10px;
}
.search-input {
  width: 500px;
  padding: 8px;
  border: 1px solid #d7dfe9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-in {
  border: none;
  outline: none;
  width: 500px;
}
.search-container {
  width: 65vw;
  display: flex;
  justify-content: center;
}
.tabs-container {
  display: flex;
  justify-content: center;
}
.tabs {
  color: #171f46;
  list-style-type: none;
  display: flex;
}
.resources-container {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
